doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p 
      a(href='/about/') About
    p 
      a(href='/contact/') Contact
    p 
      a(href='/post/new/') + Post
    block content
