extends layout

block content
  .row.banner
    .col-12
      h1= pageHeader.title

  .row
    .col-12.col-md-8
      form(action="", method="post", role="form")
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="title") Title
          .col-12.col-sm-10
            input#name.form-control(name="title")
        
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="user") User
          .col-12.col-sm-10
            input#name.form-control(name="user")

        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="postContent") Content
          .col-12.col-sm-10
            textarea#postContent.form-control(name="postContent", rows="5")
        button.btn.btn-primary.float-right Add my post
    .col-12.col-md-4